**node_modules/
API/resources/
npm-debug.log
.DS_Store
/*.env
/resources/
testing/
Comparaciones/
uploads/

locationComparision.js
PedidosCliente.js
ComparacionDist.js
comparacionFechas.js
GCevents.js
